@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>


<address>
    Davi Santana Araujo<br />
    Lagoa Santa 99885-9709<br />
    <abbr title="Phone">cep:</abbr>
    33236522
</address>

<address>
    <strong>Email:</strong>   <a href="https://www.gmail.com/">davisantana48@gmail.com</a><br />
</address>